<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3><i class="fas fa-info-circle"></i> ООО “Информ”</h3>
      <p>
        <i class="fas fa-cookie-bite"></i> Используем cookies для корректной работы сайта, персонализации пользователей и других целей, предусмотренных политикой обработки персональных данных.
      </p>
    </div>
    <nav #navigation class="navigation">
      <ul>
        <li class="nav-item" 
          [class.active]="activeItem === 'home'"
          (mouseenter)="onMouseEnter($event)"
          (mouseleave)="onMouseLeave()">
          <a href="/home" (click)="navigateTo('home', $event)">
            <i class="fas fa-home"></i> Главная
          </a>
        </li>
        <li class="nav-item" 
          [class.active]="activeItem === 'product'"
          (mouseenter)="onMouseEnter($event)"
          (mouseleave)="onMouseLeave()">
          <a href="/product" (click)="navigateTo('product', $event)">
            <i class="fas fa-box-open"></i> Продукты
          </a>
        </li>
        <li class="nav-item" 
          [class.active]="activeItem === 'about'"
          (mouseenter)="onMouseEnter($event)"
          (mouseleave)="onMouseLeave()">
          <a href="/about" (click)="navigateTo('about', $event)">
            <i class="fas fa-building"></i> Компания
          </a>
        </li>
        <li class="nav-item" 
          [class.active]="activeItem === 'contact'"
          (mouseenter)="onMouseEnter($event)"
          (mouseleave)="onMouseLeave()">
          <a href="/contact" (click)="navigateTo('contact', $event)">
            <i class="fas fa-phone-alt"></i> Контакты
          </a>
        </li>
      </ul>
    <div class="underline" [ngStyle]="underlineStyle"></div>
  </nav>
    <div class="footer-section">
      <h3><i class="fas fa-building"></i> Офис продаж</h3>
      <p><i class="fas fa-phone"></i> Телефон: <a>+7 343 765-01-65</a></p>
      <p><i class="fas fa-grafik-alt"></i> График работы: пн, вт, ср, чт, пт | 9:00-17:00</p>
      <p><i class="fas fa-pochta"></i> <a>binfm&#64;yandex.ru</a></p>
    </div>
  </div>
  <div class="admin-login">
    <a routerLink="/admin/login">Вход администратора</a>
  </div>
</footer>